* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: linear-gradient(135deg, #050505, #0a0a2a);
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid #00f0ff;
}

.logo {
    color: #00f0ff;
    text-shadow: 0 0 10px #00f0ff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00f0ff;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, #0d0d3a, #000);
}

.hero h2 {
    font-size: 3.5rem;
    text-shadow: 0 0 20px #ff0055;
}

.hero p {
    margin: 20px 0;
    color: #ccc;
}

.hero button {
    padding: 15px 40px;
    font-size: 1rem;
    border: none;
    background: linear-gradient(45deg, #ff0055, #00f0ff);
    color: white;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 0 20px #ff0055;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
}

/* SECTIONS */
.section {
    padding: 80px 50px;
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00f0ff;
}

/* CARDS */
.cards .card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    width: 200px;
    border-radius: 15px;
    border: 2px solid #ff0055;
    box-shadow: 0 0 15px #ff0055;
    transition: 0.3s;
}

.card span {
    color: #00f0ff;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
}

/* JOIN */
.join ul {
    list-style: none;
    margin: 20px 0;
}

.join li {
    margin: 10px 0;
}

.join button {
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 25px;
    border: none;
    background: #00f0ff;
    cursor: pointer;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: #777;
}
.h223{
    font-family: sans-serif;
    position: relative;
    right: 500px;
    color: #fd2537;
}
.navi{
    padding:0px 60px;
}
.dc{
    position: absolute;
    left:5px;
    top: 150px;
}

